@import 'vars';

body {
   background-color: $bg-dark;
}

// HEADER
header {
   height: 90px;
}

// CARDS
.card {
   background-color: $bg-darker;
   color: $light-gray;

   a {
      display: inline-block;
      color: $light-gray;
      background-color: $bg-darker-p;
      text-decoration: none;
      font-weight: bold;
      padding: 5px 10px;
      border-radius: 5px;
      &:hover {
         background-color: $bg-dark-p;
      }
   }

   .show-card {
      width: auto;
      height: 250px;
      background-position: center top;
      background-repeat: no-repeat;
   }
}

// FORM
form {
   .col-6 {
      label, input{
         display: block;
         width: 100%;
         color: $light-gray;
      }
      label {
         
      }
      input {
         background-color: $bg-darker;
         border-radius: 5px;
      }
   }
}