@import 'vars';

body {
   background-color: $bg-dark;
}

// HEADER
header {
   height: 90px;

   .active {
      border-bottom: 3px solid #fff;
   }
}

// CARDS
.card {
   position: relative;
   background-color: $bg-darker;
   color: $light-gray;

   a {
      text-decoration: none;
      display: inline-block;
      padding: 5px 10px;
      border-radius: 5px;
   }

   .edit-dlt-comic {
      position: absolute;
      top: 0;
      right: 0;
      .edit-comic {
         border-radius: 0 5px 0 0;
         color: #000;
         background-color: rgb(165, 165, 37);
         &:hover {
            background-color: rgb(204, 204, 40);
         }
      }
      .dlt-comic {
         border-radius: 0 0 0 5px;
         color: $light-gray;
         background-color: rgb(172, 72, 72);
         &:hover {
            color: #fff;
            background-color: rgb(226, 13, 13);
         }
      }
   }

   .details {
      color: $light-gray;
      background-color: $bg-darker-p;
      font-weight: bold;
      &:hover {
         color: #000;
         background-color: $bg-dark-p;
      }
   }

   .show-card {
      width: auto;
      height: 250px;
      background-position: center top;
      background-repeat: no-repeat;
   }
}

// FORM
.form-comic-info {
   .col-6, .col-2 {
      label, input, select, textarea{
         display: block;
         width: 100%;
         color: $light-gray;
      }
      input, select, textarea {
         background-color: $bg-darker;
         border-radius: 5px;
      }
   }
   .preview-img {
      height: 291px;
   }
}