body {
  background-color: #292929;
}

header {
  height: 90px;
}

.card {
  background-color: #1f1f1f;
  color: #d5d5d5;
}
.card a {
  display: inline-block;
  color: #d5d5d5;
  background-color: #b64fc8;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}
.card a:hover {
  background-color: #ffb2ff;
}
.card .show-card {
  width: auto;
  height: 250px;
  background-position: center top;
  background-repeat: no-repeat;
}

form .col-6 label, form .col-6 input {
  display: block;
  width: 100%;
  color: #d5d5d5;
}
form .col-6 input {
  background-color: #1f1f1f;
  border-radius: 5px;
}