body {
  background-color: #292929;
}

header {
  height: 90px;
}
header .active {
  border-bottom: 3px solid #fff;
}

.card {
  position: relative;
  background-color: #1f1f1f;
  color: #d5d5d5;
}
.card a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}
.card .edit-dlt-comic {
  position: absolute;
  top: 0;
  right: 0;
}
.card .edit-dlt-comic .edit-comic {
  border-radius: 0 5px 0 0;
  color: #000;
  background-color: #a5a525;
}
.card .edit-dlt-comic .edit-comic:hover {
  background-color: #cccc28;
}
.card .edit-dlt-comic .dlt-comic {
  border-radius: 0 0 0 5px;
  color: #d5d5d5;
  background-color: #ac4848;
}
.card .edit-dlt-comic .dlt-comic:hover {
  color: #fff;
  background-color: #e20d0d;
}
.card .details {
  color: #d5d5d5;
  background-color: #b64fc8;
  font-weight: bold;
}
.card .details:hover {
  color: #000;
  background-color: #ffb2ff;
}
.card .show-card {
  width: auto;
  height: 250px;
  background-position: center top;
  background-repeat: no-repeat;
}

.form-comic-info .col-6 label, .form-comic-info .col-6 input, .form-comic-info .col-6 select, .form-comic-info .col-6 textarea, .form-comic-info .col-2 label, .form-comic-info .col-2 input, .form-comic-info .col-2 select, .form-comic-info .col-2 textarea {
  display: block;
  width: 100%;
  color: #d5d5d5;
}
.form-comic-info .col-6 input, .form-comic-info .col-6 select, .form-comic-info .col-6 textarea, .form-comic-info .col-2 input, .form-comic-info .col-2 select, .form-comic-info .col-2 textarea {
  background-color: #1f1f1f;
  border-radius: 5px;
}
.form-comic-info .preview-img {
  height: 291px;
}