body {
  background-color: #292929;
}

header {
  height: 90px;
}

.card {
  position: relative;
  background-color: #1f1f1f;
  color: #d5d5d5;
}
.card a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
}
.card .dlt-comic {
  position: absolute;
  color: #d5d5d5;
  background-color: #ac4848;
  top: 0;
  right: 0;
}
.card .dlt-comic:hover {
  color: #fff;
  background-color: red;
}
.card .details {
  color: #d5d5d5;
  background-color: #b64fc8;
  font-weight: bold;
}
.card .details:hover {
  color: #000;
  background-color: #ffb2ff;
}
.card .show-card {
  width: auto;
  height: 250px;
  background-position: center top;
  background-repeat: no-repeat;
}

form .col-6 label, form .col-6 input, form .col-6 select, form .col-6 textarea, form .col-2 label, form .col-2 input, form .col-2 select, form .col-2 textarea {
  display: block;
  width: 100%;
  color: #d5d5d5;
}
form .col-6 input, form .col-6 select, form .col-6 textarea, form .col-2 input, form .col-2 select, form .col-2 textarea {
  background-color: #1f1f1f;
  border-radius: 5px;
}